button {
  padding: 10px 20px;
  background-color: rgb(22, 225, 22);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-weight: 600;
}
